---
// Aquí podría ir alguna lógica o importación necesaria si es que la hubiera
---
<section class="flex flex-row text-center items-center justify-center gap-16 max-w-7xl m-auto pt-16 pb-16">
  <form id="contactForm" class="w-full">
    <label class="text-2xl">¿Asistirás?</label><br>
    <div class="radios flex flex-row gap-8 items-center justify-center">
      <div class="radio1">
        <input type="radio" id="attendYes" name="attend" value="yes">
        <label for="attendYes">Sí</label>
      </div>
      <div class="radio2">
        <input type="radio" id="attendNo" name="attend" value="no">
        <label for="attendNo">No</label><br>
      </div>
    </div>
    <!-- Elementos que aparecen si seleccionan "No" -->
    <div class="guests flex flex-row gap-8 justify-center hiddena" id="guestsNo">
      <div class="column-invitados-boda" id="guestNoCountInput">
        <div class="flex flex-row gap-4 items-center justify-center">
          <label for="guestsCountNo">¿Cuántos no podeis asistir?</label>
          <input type="number" id="guestsCountNo" name="guestsCountNo" min="1" value="1" >
        </div>

        <div id="guestNamesNoAssist"></div>
      </div>
    </div>
    <!-- Elementos que aparecen si seleccionan "Sí" -->
    <div class="guests flex flex-row gap-8 justify-center hiddena" id="guests">
      <div class="column-invitados-boda" id="guestCountInput">
        <div class="flex flex-row gap-4 items-center justify-center">
          <label for="guestsCount">¿Cuántos asistiréis?</label>
          <input type="number" id="guestsCount" name="guestsCount" min="1" value="1" >
        </div>
    
        <div id="guestNames"></div>
      </div>
  
      <div class="invitados-dormir " id="overnightInput">
        <div class="flex flex-row gap-4 items-center justify-center">
          <label for="overnightCount">¿Cuántos os quedaréis a dormir? (30€/noche)</label>
          <input type="number" id="overnightCount" name="overnightCount" min="1" value="1" >
        </div>
        <div id="overnightGuestNames"></div>
      </div>
    </div>

    <div class="hiddena" id="allergiesInput">
      <label for="allergies">Alergias, intolerancias, preferencias dietéticas:</label><br>
      <textarea id="allergies" name="allergies" rows="4"></textarea>
    </div>

    <!-- Sección de servicio de peluquería, inicialmente oculta -->
    <div class="radios-pelu flex flex-col items-center justify-center mt-8 hiddena" id="peluInput">
      <label class="text-2xl">¿Necesitaréis servicio de peluquería y/o maquillaje?</label>
      <div class="radio-pelu flex flex-row items-center justify-center gap-8">
        <div class="radio1-pelu">
          <input type="radio" id="peluSi" name="pelu" value="yes">
          <label for="peluSi">Sí</label>
        </div>
        <div class="radio2-pelu">
          <input type="radio" id="peluNo" name="pelu" value="no">
          <label for="peluNo">No</label><br>
        </div>
      </div>
      <div id="peluCountNumber" class="flex flex-row gap-4 items-center justify-center hiddena">
        <label for="peluCount">¿Cuantas necesitaréis el servicio?</label>
        <input type="number" id="peluCount" name="peluCount" min="1" value="1">
      </div>
      <div id="peluGuestNames"></div>  <!-- Div para los nombres de los invitados que desean servicio de peluquería -->
    </div>

    <button type="submit" class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-amber-800 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none">Enviar</button>
  </form>
  <script src="/src/scripts/form-handler.js"></script>
</section>

<style>

.container-guest-pelu {
    display: flex;
    gap: 2rem;
}
</style>
