

<section class="flex flex-row items-center justify-center gap-16 max-w-7xl m-auto pt-16">
    <div class="flex flex-col flex-1 items-center justify-center border-r-2 border-black">
        <svg class="w-16 h-16 icon-clock icon-info" version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">
<path d="M2370 5114 c-19 -2 -78 -9 -130 -15 -788 -90 -1517 -582 -1919 -1296
-375 -667 -423 -1512 -124 -2228 107 -256 283 -534 458 -722 76 -83 106 -92
150 -48 40 39 33 65 -48 157 -247 283 -415 589 -512 933 -290 1022 108 2094
995 2680 812 536 1891 523 2689 -33 839 -584 1217 -1607 960 -2600 -39 -150
-88 -280 -164 -437 -122 -251 -255 -435 -465 -645 -193 -193 -357 -316 -581
-434 -819 -432 -1826 -349 -2572 213 -118 89 -148 98 -185 58 -24 -25 -28 -57
-12 -87 5 -10 53 -51 105 -90 388 -292 838 -464 1330 -510 926 -86 1838 361
2361 1156 550 834 550 1954 0 2788 -411 626 -1048 1032 -1788 1142 -98 14
-474 27 -548 18z"/>
<path d="M2350 4698 c-638 -60 -1224 -415 -1588 -963 -252 -380 -380 -872
-344 -1327 15 -193 50 -366 108 -537 109 -323 268 -577 518 -827 248 -248 511
-412 830 -519 702 -234 1464 -97 2042 368 186 150 386 387 512 608 373 650
372 1471 -3 2124 -61 107 -154 241 -194 281 -40 40 -99 27 -119 -27 -13 -32
-3 -54 60 -141 196 -268 324 -582 369 -908 22 -155 17 -441 -10 -595 -192
-1098 -1215 -1828 -2305 -1644 -805 137 -1452 759 -1621 1559 -73 349 -50 720
66 1057 319 925 1260 1485 2222 1322 359 -61 664 -203 956 -443 67 -56 112
-86 128 -86 33 0 73 42 73 77 0 34 -83 116 -222 216 -428 312 -950 455 -1478
405z"/>
<path d="M2517 4428 c-28 -22 -37 -65 -37 -179 0 -127 14 -175 54 -185 44 -11
76 4 92 41 17 42 19 237 3 284 -17 48 -73 68 -112 39z"/>
<path d="M1375 3729 c-82 -24 -148 -117 -149 -209 -2 -102 14 -121 278 -357
132 -117 250 -216 263 -219 46 -12 99 46 86 94 -3 12 -110 114 -238 228 -137
121 -236 216 -239 230 -13 51 28 98 81 92 17 -2 167 -129 453 -383 236 -209
429 -384 429 -389 1 -4 -11 -23 -26 -40 -16 -17 -35 -42 -44 -56 l-16 -24
-108 97 c-90 81 -114 97 -141 97 -50 0 -87 -55 -68 -103 3 -8 69 -71 148 -141
121 -107 145 -132 155 -168 32 -106 109 -191 207 -227 97 -37 164 -29 309 35
6 2 195 -151 420 -341 226 -190 420 -348 433 -351 51 -14 101 37 88 90 -4 18
-131 130 -419 372 -251 211 -412 353 -411 363 1 9 8 40 16 69 13 49 31 70 266
312 150 154 259 273 267 294 19 46 19 127 -1 174 -34 82 -113 134 -204 135
-96 1 -122 -19 -374 -278 l-228 -236 -63 3 -63 3 -442 395 c-243 217 -464 407
-492 423 -53 28 -112 34 -173 16z m1890 -502 c8 -12 15 -35 15 -51 0 -26 -31
-61 -212 -242 l-213 -213 -49 56 -49 55 204 205 c112 112 213 208 223 212 29
11 65 1 81 -22z m-599 -523 c56 -45 76 -88 71 -156 -6 -104 -85 -172 -189
-165 -104 6 -172 85 -165 189 4 66 37 117 97 150 53 29 138 21 186 -18z"/>
<path d="M723 2625 c-35 -15 -49 -48 -39 -91 10 -40 58 -54 186 -54 128 0 176
14 186 54 11 44 -4 76 -41 92 -46 19 -247 19 -292 -1z"/>
<path d="M4103 2625 c-35 -15 -49 -48 -39 -91 10 -40 58 -54 186 -54 128 0
176 14 186 54 11 44 -4 76 -41 92 -46 19 -247 19 -292 -1z"/>
<path d="M2517 1048 c-28 -22 -37 -65 -37 -179 0 -127 14 -175 54 -185 44 -11
76 4 92 41 17 42 19 237 3 284 -17 48 -73 68 -112 39z"/>
</g>
        </svg>
        <p class="icons-title text-4xl mt-8">
            17:00h
        </p>
    </div>
    <div class="flex flex-col flex-1 items-center justify-center border-r-2 border-black">
        <svg class="w-16 h-16 icon-calendar icon-info" version="1.0" xmlns="http://www.w3.org/2000/svg"
        width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
        preserveAspectRatio="xMidYMid meet">
       
       <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
       fill="#000000" stroke="none">
       <path d="M1235 5103 c-135 -49 -205 -156 -205 -314 l0 -68 -402 -3 c-398 -3
       -404 -3 -450 -26 -60 -30 -120 -90 -150 -150 l-23 -47 0 -1935 0 -1935 23 -47
       c30 -60 90 -120 150 -150 l47 -23 737 -3 737 -2 33 29 c27 24 33 36 33 71 0
       35 -6 47 -33 71 l-32 29 -716 0 -716 0 -34 34 -34 34 0 1892 0 1892 34 34 34
       34 380 0 380 0 4 -87 c7 -141 58 -227 166 -280 47 -23 70 -28 132 -28 177 0
       288 115 298 308 l4 87 808 0 808 0 4 -87 c5 -99 26 -157 77 -216 82 -92 237
       -121 353 -64 108 53 159 139 166 280 l4 87 380 0 380 0 34 -34 34 -34 0 -266
       0 -266 -1900 0 c-2068 0 -1942 4 -1968 -55 -15 -33 -15 -57 0 -90 26 -59 -100
       -55 1968 -55 l1900 0 0 -989 0 -990 -92 44 c-51 24 -114 49 -140 56 l-48 11 0
       754 c0 562 -3 760 -12 779 -26 58 98 55 -1948 55 -2046 0 -1922 3 -1948 -55
       -17 -38 -17 -2412 0 -2450 26 -58 -50 -55 1407 -55 l1340 0 6 -37 c7 -46 45
       -213 52 -230 4 -10 -85 -13 -422 -13 -454 0 -469 -1 -495 -49 -13 -25 -13 -77
       0 -102 26 -48 37 -49 546 -49 l476 0 90 -95 c134 -142 276 -227 458 -276 123
       -33 339 -33 460 0 274 74 494 255 615 506 69 142 89 233 89 405 1 120 -3 160
       -22 230 -29 109 -98 250 -162 334 l-50 65 -2 1463 -3 1463 -23 47 c-31 62 -87
       119 -148 149 l-49 24 -401 3 -402 3 -4 87 c-7 140 -58 226 -166 279 -47 23
       -70 28 -132 28 -177 0 -288 -115 -298 -307 l-4 -88 -808 0 -808 0 -4 88 c-5
       98 -26 156 -77 215 -71 81 -213 117 -316 80z m144 -197 c47 -25 51 -49 51
       -287 0 -171 -3 -226 -14 -248 -35 -66 -137 -66 -172 0 -20 39 -20 462 0 498
       26 47 84 63 135 37z m2220 0 c47 -25 51 -49 51 -287 0 -171 -3 -226 -14 -248
       -35 -66 -137 -66 -172 0 -20 39 -20 462 0 498 26 47 84 63 135 37z m-2379
       -1961 l0 -295 -270 0 -270 0 0 295 0 295 270 0 270 0 0 -295z m750 0 l0 -295
       -275 0 -275 0 0 295 0 295 275 0 275 0 0 -295z m740 0 l0 -295 -270 0 -270 0
       0 295 0 295 270 0 270 0 0 -295z m750 0 l0 -295 -275 0 -275 0 0 295 0 295
       275 0 275 0 0 -295z m740 0 l0 -295 -270 0 -270 0 0 295 0 295 270 0 270 0 0
       -295z m-2980 -785 l0 -290 -270 0 -270 0 0 290 0 290 270 0 270 0 0 -290z
       m750 0 l0 -290 -275 0 -275 0 0 290 0 290 275 0 275 0 0 -290z m740 0 l0 -290
       -270 0 -270 0 0 290 0 290 270 0 270 0 0 -290z m750 0 l0 -290 -275 0 -275 0
       0 290 0 290 275 0 275 0 0 -290z m740 6 l0 -283 -82 -6 c-46 -4 -167 -7 -270
       -7 l-188 0 0 290 0 290 270 0 270 0 0 -284z m185 -516 c192 -60 359 -194 442
       -355 69 -134 88 -210 88 -355 0 -145 -19 -222 -88 -355 -58 -111 -181 -234
       -292 -292 -133 -69 -210 -88 -355 -88 -103 0 -138 4 -200 24 -256 79 -431 254
       -510 506 -87 281 26 619 268 797 73 54 201 113 287 132 98 22 267 15 360 -14z
       m-3165 -275 l0 -295 -270 0 -270 0 0 295 0 295 270 0 270 0 0 -295z m750 0 l0
       -295 -275 0 -275 0 0 295 0 295 275 0 275 0 0 -295z m740 0 l0 -295 -270 0
       -270 0 0 295 0 295 270 0 270 0 0 -295z m750 232 c0 -58 -3 -67 -41 -117 -22
       -30 -60 -95 -84 -145 -38 -79 -53 -124 -79 -237 l-6 -28 -170 0 -170 0 0 295
       0 295 275 0 275 0 0 -63z"/>
       <path d="M4329 1043 l-169 -167 -73 71 c-106 104 -141 116 -199 64 -27 -24
       -33 -36 -33 -70 0 -40 6 -47 133 -173 185 -186 153 -192 427 82 119 118 218
       225 221 238 16 60 -34 122 -99 122 -38 0 -47 -7 -208 -167z"/>
       <path d="M451 3906 c-87 -48 -50 -186 49 -186 51 0 100 49 100 99 0 75 -83
       124 -149 87z"/>
       <path d="M2018 584 c-34 -18 -48 -43 -48 -84 0 -42 15 -67 50 -85 43 -22 76
       -18 112 14 27 24 33 36 33 71 0 35 -6 47 -33 71 -36 32 -72 36 -114 13z"/>
       </g>
       </svg>
       <p class="icons-title text-4xl mt-8">
        03 / 05 / 2025
    </p>
    </div>
    <div class="flex flex-col flex-1 items-center justify-center">
        <svg class="w-16 h-16 icon-map icon-info" version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">
<path d="M2394 5110 c-364 -39 -708 -203 -969 -465 -312 -311 -476 -710 -476
-1154 0 -397 125 -794 390 -1240 39 -66 168 -260 187 -282 8 -8 14 -18 14 -22
0 -3 -171 -8 -380 -9 -330 -3 -381 -5 -395 -19 -24 -24 -525 -1243 -525 -1278
0 -57 68 -91 113 -56 10 7 36 55 57 107 l39 93 256 3 255 2 -15 -37 c-9 -21
-69 -165 -133 -321 l-116 -282 -254 0 c-199 0 -253 3 -249 13 3 6 22 54 42
106 30 74 36 99 29 119 -13 37 -55 59 -91 47 -32 -11 -53 -49 -128 -236 -54
-131 -54 -161 -5 -186 20 -10 532 -12 2533 -10 l2509 2 19 24 c10 13 19 32 19
42 0 28 -745 1829 -765 1848 -14 14 -63 16 -395 19 -209 1 -380 6 -380 9 0 4
6 14 14 22 19 22 148 216 187 282 265 446 390 843 390 1240 0 444 -164 843
-476 1154 -344 344 -823 515 -1301 465z m307 -150 c476 -49 888 -317 1128
-735 189 -330 241 -714 149 -1115 -106 -468 -391 -964 -845 -1471 -163 -183
-545 -549 -573 -549 -35 0 -514 472 -675 665 -455 544 -706 1038 -775 1523
-16 116 -14 329 4 442 115 713 708 1232 1427 1249 31 0 103 -4 160 -9z m-1336
-3187 c-3 -10 -45 -111 -92 -225 l-86 -208 -254 0 c-146 0 -253 4 -251 9 2 5
43 106 92 225 l90 216 254 0 c238 0 254 -1 247 -17z m401 -110 c208 -246 674
-698 765 -742 42 -21 63 -8 233 142 l144 127 436 0 c423 0 437 1 456 20 27 27
26 81 -1 106 -20 18 -43 19 -381 22 l-360 3 88 92 c49 51 140 152 203 225
l113 132 397 0 397 0 90 -216 c49 -119 90 -220 92 -224 2 -5 -91 -10 -207 -12
-201 -3 -211 -4 -232 -25 -14 -14 -22 -33 -21 -54 2 -62 7 -63 279 -69 l247
-5 52 -122 52 -123 -782 0 c-851 0 -816 2 -830 -56 -4 -14 -4 -34 -1 -44 3
-10 178 -169 388 -352 l381 -333 -217 -3 -217 -2 -771 656 c-425 361 -784 662
-800 667 -38 15 -72 -2 -92 -45 -11 -24 -493 -1187 -524 -1265 -4 -10 -42 -13
-144 -13 -76 0 -139 1 -139 3 0 2 62 154 138 338 76 184 142 347 146 362 5 23
1 33 -23 57 l-29 30 -290 0 -290 0 52 123 52 122 325 3 c323 2 326 2 346 25
11 12 69 141 128 287 60 146 113 271 118 278 6 7 33 12 67 12 l58 0 108 -127z
m669 -948 l658 -560 -452 -3 c-249 -1 -652 -1 -896 0 l-443 3 231 562 c128
310 235 562 238 560 3 -1 302 -254 664 -562z m2366 -244 c71 -172 129 -315
129 -317 0 -2 -210 -4 -467 -4 l-468 1 -360 315 c-198 174 -362 318 -364 320
-3 2 312 3 698 2 l702 -3 130 -314z"/>
<path d="M2476 4180 c-115 -14 -250 -67 -307 -121 -36 -34 -38 -77 -6 -107 32
-31 55 -28 144 18 97 49 154 62 263 62 106 -1 196 -27 279 -83 294 -196 334
-593 85 -842 -254 -254 -680 -188 -848 132 -77 146 -84 287 -25 457 l33 94
-20 27 c-26 35 -77 43 -105 17 -24 -22 -54 -87 -76 -168 -12 -42 -17 -98 -17
-181 1 -102 5 -132 27 -200 37 -113 90 -198 177 -286 126 -127 300 -199 480
-199 298 0 565 197 655 484 55 172 41 346 -40 511 -73 151 -171 248 -320 320
-125 60 -246 81 -379 65z"/>
</g>
        </svg>
        <p class="icons-title text-4xl mt-8">
            Mas Gircos
        </p>
    </div>
</section>

<style>
    .icons-title{
        font-family: 'Great Vibes' ,system-ui, sans-serif;
    }
  </style>