<section class="flex flex-row text-center items-center justify-center gap-16  m-auto pt-16 pb-16 bg-[#CFCFCF]">
    <form id="cancionForm">
        <p class="text-4xl mb-10">Tienes una cancion que sabes que no pueda faltar ese dia?</p>
        <input type="text" name="cancion" id="cancion">
        <button type="submit" class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-amber-800 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none">Guardar</button>
    </form>
    <script src="/src/scripts/test-handler.js"></script>
</section>