<section class="flex flex-row text-center items-center justify-center gap-16  m-auto pt-16 pb-16 bg-orange-100">
    <div>Tienes una cancion que sabes que no pueda faltar ese dia?</div>
    <input type="text" name="cancion" id="cancion">
    <button>Guardar</button>
</section>