<div class={`fixed w-[200%] h-[200vh] inset-0 z-[99999999] pointer-events-none opacity-50`}></div>

<style>
    div{
        background-image: url("./noise.png");
        mix-blend-mode: multiply;
    }

</style>