---
import HeroArrow from '../components/HeroArrow.astro'
import '@/styles/global.css';
---

<section id="hero-section" class="static h-screen flex flex-col gap-16 items-center justify-center">
    <img class="img-hero scroll-effect" src="./img1-test.webp" alt="">
    <object id="hero-image" type="image/svg+xml" data="./hero-img-draw.svg" class="w-[500px] scroll-effect"></object>

    <div class="absolute bottom-12 scroll-effect">
        <HeroArrow />
    </div>
</section>
<style>

    img.img-hero {
        position: absolute;
        z-index: 0;
        opacity: 0.7;
        filter: grayscale(100%);
        animation: grow-center 2s ease-out forwards; /* Añade la animación aquí */
    }
    
    #hero-image {
        z-index: 2;
    }
    
    @keyframes grow-center {
        0% {
            transform: scale(0.1); /* Inicia con la mitad del tamaño original */
            opacity: 0.2; /* Opción adicional para hacer que la imagen sea transparente al inicio */
        }
        100% {
            transform: scale(1); /* Termina con el tamaño original */
            opacity: 0.7; /* Mantiene la opacidad definida inicialmente */
        }
    }
    </style>