---
import HeroArrow from '../components/HeroArrow.astro'
import '@/styles/global.css';
---

<section id="hero-section" class="static
 h-screen flex flex-col gap-16 items-center justify-center">
    <object id="hero-image" type="image/svg+xml" data="./hero-img-draw.svg" class="w-[500px] scroll-effect"></object>
    <div class="imgHero imgHero1 bg-white h-[200px] w-[150px]"></div>
    <div class="imgHero imgHero2 bg-white h-[200px] w-[150px]"></div>
    <div class="imgHero imgHero3 bg-white h-[200px] w-[150px]"></div>
    <div class="imgHero imgHero4 bg-white h-[200px] w-[150px]"></div>

    <div class="absolute bottom-12 scroll-effect">
        <HeroArrow />
    </div>
</section>


<style>
.imgHero1 {
    position: absolute;
    top: 17%;
    left: 20%;
}
.imgHero2 {
    position: absolute;
    bottom: 25%;
    left: 25%;
}
.imgHero3 {
    position: absolute;
    top: 25%;
    right: 25%;
}
.imgHero4 {
    position: absolute;
    bottom: 25%;
    right: 25%;
}

</style>