---
import InfoSiteIcons from "@/components/InfoSiteIcons.astro"
---
<section id="infosite-section" class="flex flex-row items-center justify-center gap-16 max-w-7xl m-auto pt-24">
    <div class="flex-1">
        <p>¡Nos emociona anunciar que el día más esperado finalmente ha llegado! Nosotros, [Tus nombres], estamos encantados de invitarlos a celebrar el amor y la unión en nuestra boda, que se llevará a cabo el día 3 de mayo de 2025. La ceremonia tendrá lugar en el pintoresco entorno de Mas Gircos, un lugar lleno de encanto y belleza que será testigo de nuestro compromiso eterno.</p>

        <p>La ceremonia dará comienzo a las 17:00 horas de la tarde, momento en el que esperamos compartir este momento tan especial con nuestros seres queridos. Será una jornada llena de alegría, amor y momentos inolvidables que atesoraremos para siempre.</p>
        
        <p>Esperamos contar con su presencia para celebrar este día tan significativo en nuestras vidas. ¡Estamos ansiosos de compartir con ustedes este momento mágico y único!</p>
        
        <p>Con amor,
        [Tus nombres]</p>
        
    </div>
    <div class="flex-1">
        <img src="masgircos1.webp" alt="Mas Gircos" class="black-and-white" id="black-and-white">
    </div>
</section>
<InfoSiteIcons />

<style>
    p{
        margin-bottom: 1rem;
    }
</style>

