---
import InfoSiteIcons from "@/components/InfoSiteIcons.astro"
---
<section id="infosite-section" class="flex flex-row items-center justify-center gap-16 max-w-7xl m-auto pt-24">
    <div class="flex-1">
        <p>Después de 12 años, 4 meses y 17 días, de mil viajes Cabia-Portezuelo, de infinitas comidas y celebraciones, etc. Después de 11 bodas (y ninguna era la nuestra) y de escuchar en cada una “¿Y el anillo pa’ cuando?” Después de tantos y tantos buenos momentos compartidos y, sobre todo, después de tanta expectativa creada, el gran día se acerca.</p> 
        <p>¡Nos casamos!</p>
        <p>Lo tenemos todo: el traje, el vestido, los fotógrafos, el sitio, el dj, las flores… Pero nos falta lo más importante: ¡contar contigo en este día tan importante para nosotros! Así que desliza hacia abajo y confírmanos lo que ya sabemos: ¡y es que vienes seguro!</p>
        <p>La boda tendrá lugar el día 3 de Mayo 2025, a las 17:00h, en la casa rural Más Gircós (Sant Ferriol, muy cerquita de Besalú).</p>
        
    </div>
    <div class="flex-1">
        <img src="masgircos1.webp" alt="Mas Gircos" class="black-and-white" id="black-and-white">
    </div>
</section>
<InfoSiteIcons />

<style>
    p{
        margin-bottom: 1rem;
    }
</style>

